@model IEnumerable<MoneyBack.Web.Models.Spending>

@{
    ViewData["Title"] = "Spendings";
}

<h2>Spendings</h2>

@if (!User.Identity.IsAuthenticated)
{
    <p>
        <h2>You need to be logged in to see this page.</h2>
    </p>
}
else
{


    <p>
        <a asp-action="Create">Register a new Spending</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SpendingId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SpendingId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SpendingId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}